<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MultipleSuiteRun">
    <listeners>
        <listener class-name="listeners.SuiteAlterListener"/>
    </listeners>
    <suite-files>
        <suite-file path="./suites/nad/newordersuite.xml" />
        <suite-file path="./suites/suite1.xml" />
        <!--suite-file path="./suites/suite2.xml" /-->
    </suite-files>
</suite>
